html,
body {
  height: 100%;
  background-color: hsl(218, 23%, 16%);
}

.card-body{
}

.main-card{
    width: 35rem;
    height:25rem;
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    margin-top: 15%;
}
.title-text{
    color:hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
}
.body-text{
    color:hsl(193, 38%, 86%);
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
}

.divider-div{
    display: flex;
}
.desk-divider{
    margin-bottom: 2rem;
    width: 100%;
    padding: 0rem 2.5rem 0rem 2.5rem;
}

.mobile-divider{
    display:none;

}
.dice-btn{
    border-radius: 50%;
    height:65px;
    width:65px;
    background-color:hsl(150, 100%, 66%);
    border:none;
}

.dice-btn:hover{
    box-shadow: 0px 0px 18px 8px hsl(150, 100%, 66%);

}
.dice-img{
    height:30px;
    width:30px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }